<hello name="{{ name }}"></hello>
<p>
	Let's run the Observables in the following order:
</p>

<ol>
	<li>asyncScheduler</li>
	<li>asapScheduler</li>
	<li>queueScheduler</li>
</ol>

<ul>
	<li *ngFor="let m of messages">
		{{m}}
	</li>
</ul>

<h2>queueScheduler</h2>
<p>
  The `queueScheduler` executes synchronously and in sequence. Notice that the asapScheduler and the asyncScheduler finish up later.
  </p>
<ul>
	<li> queueScheduler:START </li>
	<li> queueScheduler: 0 </li>
	<li> queueScheduler: 12 </li>
	<li> queueScheduler: 16 </li>
	<li> queueScheduler: 99 </li>
	<li> queueScheduler:END </li>
</ul>